.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 50px;
   padding: 0 25px;
   background-color: #1890ff;
   font-size: 16px;
}

.header__logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;

   &:hover {
      opacity: 0.9;
   }
}

.header__img {
   width: 33px;
}

.header__title {
   margin-left: 10px;
   font-size: 17px;
   font-weight: 700;
   color: #fff;
}

.header__navigation {
   margin-right: 17px;
}

.header__ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-direction: row;
}

.header__link {
   color: #fff;
   margin-left: 17px;

   &:hover {
      opacity: 0.9;
   }
}