.sign {
  $self: &;
  display: flex;
  justify-content: center;
  margin-top: 70px;

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 430px;

    #{$self}__button {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.1px;
      width: 100%;
    }

    #{$self}__other {
      display: flex;
      justify-content: space-between;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 30px;

  &__h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }
}